.metadata-list dl dt {
  width: auto;
  min-width: 120px;
  padding-right: 10px;
  font-size: 14px;
}

.metadata-list {
  font-size: 14px;
  margin-bottom: 60px;
}

.govuk-metadata {
  display: block;
}

