{{<layout}}

{{$pageTitle}}
  GOV.UK register finder demo
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="register-finder">
  {{>includes/phase}}

  <header>
    <div class="grid-row">
      <div class="title-and-metadata">

        <div class="column-two-thirds">
          <div class="govuk-title length-average">
            <h1 class="heading-xlarge">{{ title }}</h1>
          </div>
          <div class="meta metadata-list">
            <div class="govuk-metadata">
              <dl>
                <dt>From:</dt>
                <dd><a class="organisation-link" href="https://www.gov.uk/government/organisations/{{ organisation }}">{{ from }}</a></dd>
              </dl>
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>

<div class="grid-row">
  <div id="filter" class="column-third">
    <div id="filter-form">
      <p>Filter</p>
      <!-- form goes here .. -->
    </div>

  </div>

  <div id="results" class="column-two-thirds">
    <p>Results</p>
    <div class="feed">
      <span>Get updates to this list</span>
      <a href="">feed</a>
    </div>

    <ul>
      {{#list}}
        <li class="record register-{{ register }}">
        <h3><a href="">{{ register }}</a></h3>
        <p>Maintained by: {{ registry }}</p>
        <p>{{ text }}</p>
      </li>
      {{/list}}
    </ul>
  </div>

</div>

</main>

{{/content}}

{{/layout}}
